/* ==============================================================
   CODE BLOCK STYLING

   - <pre> elements are block-level and normally expand to the
     full width of their container.

   - width: fit-content allows the border to wrap tightly
     around the code text instead of stretching full width.

   - overflow-x: auto ensures long code lines do not break
     the layout by enabling horizontal scrolling when needed.
================================================================ */
pre {
    border: 2px solid black;
    padding: 10px;
    display: inline-block;
    overflow-x: auto;
    background-color: rgba(0, 0, 0, 0.08);
    color: red;
}

h1{
    text-align: center; /*Sets every h1 to align the text to center*/
}

/*Sets the bottom margin to 20px and border bottom to 2px solid black in every section*/
section{
    margin-bottom: 20px;
    border-bottom: 5px solid rgb(0, 0, 0);
}

/*Spacing lists using margins*/
.spacing-list-item-using-margins li{
    margin-bottom: 40px; /*sets the bottom margin to 40px*/
}

/*Spacing lists using line-heights*/
.spacing-list-item-using-line-height li{
    line-height: 2; /*sets the line height to be twice the font size, creating more vertical space within each list item*/
}

/*Using list-style in an unoredered lists*/
.using-list-style > ul{
    list-style: square; /*Sets the style of the lists to square*/
}

/*Using list-style in an oredered lists*/
.using-list-style > ol{
    list-style: lower-roman; /*Sets the style of the lists to lower roman numeral*/
}

/*Using list-style-position*/
/*Using inside list-style-position*/
#inside-list-style li, #inside-list-style + ol li{
    list-style-position: inside;
}

/*Using outside list-style-position*/
#outside-list-style li, #outside-list-style + ol li{
    list-style-position: outside;
}

/*Using list-style-image*/
.list-style-image li::before {
    content: "";
    display: inline-block; /* Controls the width and height of the image*/
    width: 100px;   /* sets the image width to 100px */
    height: 100px;  /* sets the image height to 100px*/
    background-image: url("../Assets/images/sunflower.png");
    background-size: cover;
    margin-right: 10px;
}
