body{
    display: flex;
    height: 100vh;
    justify-content: center;
    background-color: #000000;
    align-items: center;
}

.container{
    color: #9aadae;
    width: 400px;;
    box-shadow: 0px 4px 8px #394142;
    text-align: center;
    border-radius: 20px;
}

.title, .description, .source, .button{
    margin: 30px;
}

.button{
    display: inline-block;
    text-decoration: none;
    box-shadow: 0px 4px 8px #272c2e;
    padding: 20px;
    border-radius: 10px;
    color: #9aadae;
}

.button:hover{
    box-shadow: 0px 4px 8px #151a1f;
    color: #c3dbdd;
}