
.todo-list, .sub-item{
  list-style: none;
  font-size: 25px;
}

.sub-item-link{
  text-decoration: none;
  display:  inline-block;
  font-size: 20px;
}

.sub-item-link:link{
  color: red;
}

.sub-item-link:hover{
  color: rgb(0, 0, 0);
}

.sub-item-link:active{
  color: pink;
}

.sub-item-link:focus{
  outline: 2px solid rgb(104, 145, 104); 
}

.sub-item-link:visited{
  color: purple;
}