body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #021024;
    color: #c1e8ff;
}

.container{
    width: 800px;
    text-align: center;
    box-shadow: 0px 4px 8px #7da0ca;
    border-radius: 20px;
}

.title{
    font-size: 40px;
}

.description{
    font-size: 25px;
}

.source{
    font-size: 30px;
}

.button{
    font-size: 20px;
}

.title, .description, .source, .button{
    margin: 30px;
}

.button{
    display: inline-block;
    box-shadow: 0px 4px 8px #052659;
    padding: 20px;
    border-radius: 10px;
    color: #c1e8ff;
    text-decoration: none;
}

.button:hover{
    color: #5483b3;
    box-shadow: 0px 4px 8px #c1e8ff;
}